h1 {
    font-family: Lumin Sans ;
    font-size: 50px ;
    color: cornflowerblue ;
    line-height: 45px ;
    margin-top: 20px ;
    margin-bottom: 10px ;
}
h2 {
    font-family: Lumin ;
    font-weight: lighter ;
    font-size: 35px ;
}
h3 {
    font-family: Lumin ;
    font-size: 20px ;
    line-height: 20px ;
    margin-top: 10px ;
}
h4 {
    font-family: Lumin Sans ;
    font-size: 18px ;
    margin-top: 20px ;
    margin-bottom: 10px ;
}
p {
    font-family: Lumin Sans ;
    font-size: 16px ;
    line-height: 18px ;
}
h1.Name {
    Font-size: 60px ;
    line-height: 20px ;
    text-align: center ; 
    padding-top: 50px ;
    
}
h3.Description {
    text-align: center ;
    line-height: 10px ;
    margin-top: 30px ;
    
}
img.gif {
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
    padding-bottom: 50px ;
    padding-top: 20px ;

}
ul {
    font-family: Lumin Sans ;
    font-size: 16px ;
    line-height: 25px ;
}
ol {
    font-family: Lumin Sans ;
    font-size: 16px ;
    line-height: 18px ;
}
a:link {
    color: darkorange ;
    font-family: Lumin ;
}
a:focus {
    color: orange ;
}
a:visited {
    color: darkgoldenrod ;
}
table {
    font-family: Lumin Sans ;
    font-size: 16px ;
    line-height: 20px ;
    border-collapse: separate ;
    border-spacing: 85px 25px ;
    text-align: left ; 
}
h5 {
    font-family: Lumin Sans;
    font-weight: lighter ;
    font-size: 30px ; 
    line-height: 0px ;
}
label {
    font-family: Lumin Sans ;
    font-size: 16px ;
    line-height: 35px ;
}
fieldset {
    padding-left: 75px ;
    padding-top: 0 ;
    padding-bottom: 30px ;
    width: 350px ; 
    background-color: rgb(245,245,245) ;
    border-style: hidden ;
    margin-top: 10px ;
}
input.button {
    background-color: darkorange ;
    font-family: Lumin Sans ;
    font-size: 16px ;
    color: white ;
    height: 35px ;
    width: 100px ;
    margin-top: 25px ;
}
hr {
    width: 950px ;
    margin-left: 0px ;   
}
hr.centerline {
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
    width: 1080px ;
}
h6 {
    font-family: Lumin Sans ;
    font-weight: lighter;
    font-size: 24px ;
    line-height: 0 ;
    margin-bottom: -5px ;
    margin-top: 30px ;
}
th.Day {
    font-size: 28px ;
    color: darkred ;
    font-weight: 400 ;
}